{% extends 'bootstrap/base.html' %}
{% import "bootstrap/utils.html" as util %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        Welcome
    {% endif %}
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='app_style.css')}}">
{% endblock %}

{% block navbar %}
    {% include "nav.jinja2" %}
{% endblock %}

{% block content %}
{{util.flashed_messages(container=True, dismissible=False)}}
<div class="container">
    {# application content needs to be provided in the app_content block #}
    {% block subnav %} {% endblock %}
    {% block app_content %}{% endblock %}
</div>

<hr/>
{% block footer %}
    {% include "footer.jinja2" %}
{% endblock %}

{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}