{% extends "base.jinja2" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div style="padding-top:30px;">&nbsp;</div>
    <div class="container">
        <div class="row">
            <div class="col-md-4, col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <span>
                            <h1 class="panel-title pull-left" style="font-size: 30px;">
                                Регистрация
                            </h1>
                        </span>
                        <br>
                        <hr/>
                        {{ wtf.quick_form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}